/* CSS Stylesheet for the COMP249 Jobs Board */
/* Author: Samuel Hornsey                    */

/* Body and HTML */
html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

/* Navigation */
nav {
    z-index: 100;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #43516C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 60px 80px;
    text-decoration: none;
}

nav .login {
    float: right;
}

nav .logo {
    background-color: #D85426;
}

/* Header (search bar) */

header {
    width: 100%;
    margin-top: 143px;
    background-color: #05659E;
    text-align: center;
}

header input[type=text] {
    margin: 40px;
    box-sizing: border-box;
    padding: 15px 20px;
    font-size: 20px;
    width: 50%;
    border: none;
    border-bottom: 4px solid rgba(0,0,0,0.2);
    background-color: #05659E;
    color: #eee;
}

header input[type=text]:focus {
    border: none;
    outline: none;
    border-bottom: 4px solid #43516C;
    transition: .5s;
}

header input[type=text]::placeholder {
  color: #eee;
  opacity: .5;
}

header button {
    background-color: #D85426;
    border: none;
    color: white;
    padding: 20px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Jobs */
.container {
    margin-left: 200px;
    margin-right: 500px;
}

@media only screen and (max-width: 1024px) {
  .container {
    margin-left: 100px;
    margin-right: 100px;
  }
}

.job {
    background-color: #eee;
    padding: 30px;
    border-bottom: 4px solid rgba(0,0,0,0);
}

.job:hover {
    z-index: 10;
    border-bottom: 4px solid rgba(0,0,0,0.2);
    transition: .5s;
}

.jobtitle {
    font-size: 30px;
    color: #05659E;
}

.location {
    font-size: smaller;
}

.container button {
    background-color: #D85426; /* Green */
    border: none;
    color: white;
    padding: 20px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 4px;
    cursor: pointer;
}

/* My Details */
.mydetails {
    background-color: #eee;
    position: relative;
    float: right;
    margin-right: 200px;
    margin-top: 76px;
    width: 280px;
}

.mydetails .container {
    margin: 30px;
}

.mydetails button {
    background-color: #D85426; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .mydetails {
    display: none;
  }

}

/* Footer */
footer {
    margin-top: 30px;
    position: relative;
    bottom: 0px;
    opacity: .8;
    background-color: #eee;
    padding: 40px 0px;
}

footer container {
    margin: 40px;
}
